# 환경 변수 파일
.env

# 데이터셋, 체크포인트, 및 로그 파일들
dataset/
checkpoint/
*.log
etc/

# 파이썬 컴파일 및 캐시 파일들
__pycache__/
*.pyc
*.pyo
*.pyd
modules/__pycache__/git

# Jupyter Notebook 체크포인트
.ipynb_checkpoints/

# IDE 설정 파일들
.vscode/
.idea/

# wandb 로그 폴더
wandb/


# 사용하지 않을 폴더 및 파일들
others/
config_.yaml
test.py
*.ipynb