torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
timm==1.0.15
scikit-learn==1.6.1
wandb==0.19.7
matplotlib==3.10.1
opencv-python==4.11.0.86
python-dotenv==1.0.1
nvitop==1.4.2
torchinfo==1.8.0
ptflops==0.7.4
fvcore==0.1.5.post20221221
albumentations==2.0.5
torchsummary==1.5.1